/* Container delle card */
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

/* Singola card */
.movie-card {
  width: 240px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

/* Card interna */
.movie-card .card {
  height: 100%;
  background-color: #1e1e1e;
  color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: none;
}

/* Immagine */
.movie-card .card-img-top {
  height: 200px;
  object-fit: contain;
  background-color: #000;
}

/* Contenuto */
.movie-card .card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.movie-card .card-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #ffffff; /* bianco pieno */
}

.movie-card .card-subtitle {
  font-size: 0.85rem;
  color: #ffcc00; /* giallo IMDb visibile su sfondo nero */
  font-weight: 500;
}


.movie-card .card-text {
  font-size: 0.9rem;
  color: #f5f5f5;
}



/* Bottone stile Netflix */
.movie-card .btn {
  background-color: #e50914;
  border: none;
  width: 100%;
  color: white;
  font-weight: 600;
}

.movie-card .btn:hover {
  background-color: #b00610;
}
.movie-card .btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(229, 9, 20, 0.5);
}

@media (max-width: 992px) {
  .movie-card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .movie-card {
    width: 100%;
  }
}
